.contact-info
  background: url(logo-opacity.svg) 50% 50% no-repeat
  height: 312px
  min-width: 312px
  margin: auto
  text-align: center
  font-size: 2.5em
  font-family: hf
  display: table
  width: 100%
  &__wrap
    vertical-align: middle
    display: table-cell
