.gradt
  position: relative
  .cs_yellow
    color: yellow

@media screen and (-webkit-min-device-pixel-ratio:0)
  .gradt_cs_yellow
     background: linear-gradient(to bottom, #f7a300, #f16200)
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
