.float-phone
  $color = green
  position: fixed;
  z-index: 1030;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid $color;
  text-align: center;
  line-height: 70px;
  margin-top: 260px;
  outline: none;
  font-size: 30px;
  color: $color;
  transition: all .1s linear;
  cursor: pointer
  &__ripple
    border-width:0 1px;
    border-radius: 50%;
    height:45px;
    bottom:0;
    top:auto;
    opacity:0;
    width:100%;
    height:100%;
    position:absolute;
    border:1px solid $color;
    box-sizing: content-box; 
    animation: callbackphoneripples 2s 2000 linear;
    &:nth-child(2)
      animation-delay: .2s
  &:hover
    background: @color
    color: #fff
  &_hidden
    display: none


@keyframes ripples
  from
    padding:0;
    left:-1px;
    bottom:-1px;
    opacity:.4
  to
    padding:32px;
    left:-33px;
    bottom:-33px;
    opacity:0

@keyframes callbackphoneripples
  0%
    border-radius:50%;
    padding:0;
    left:-1px;
    bottom:-1px;
    opacity:.4
  80%
    border-radius:50%;
    padding:32px;
    left:-33px;
    bottom:-33px;
    opacity:0
  100%
    opacity:0

