.section
  background-color: #000;
  position: relative
  &_name
    &_header
      padding: 10px 0
      background: #000 url(logo-opacity.svg) right top no-repeat
    &_best
      text-align: center
      .container
        padding-top: 60px
        position: relative
        &:before,
        &:after
          content: ''
          display: block
          position: absolute
          width: 310px
          height: 310px
          background: url(logo-opacity.svg) no-repeat
          top: 0
        &:before
          left: 0
        &:after
          right: 0
     &_we-know
       position: relative
       overflow: hidden
       margin-top: 60px
       background-image: url('we-know.jpg');
       background-position: 50% 50%
       &:before
          content: ''
          display: block
          position: absolute
          width: 310px
          height: 310px
          background: url(logo-opacity.svg) no-repeat
          top: 1%
          left: 1%
     &_port-aventura
       position: relative
       padding: 2em 0
       color: #000
       background-position: 50% 0%
       background-size: auto 100%
       background-repeat: no-repeat
     &_partners
      border-top: 2px ridge yellow
      border-bottom: 2px ridge yellow
      overflow: hidden
      position: relative
      background: url(pb.jpg) 50% 50%;
      &:before,
      &:after
        content: ''
        display: block
        position: absolute
        width: 310px
        height: 310px
        background: url(logo-opacity.svg) no-repeat
        top: - (@height / 2) 
      &:before
        left: -(310 / 2)px
      &:after
        right: -(310 / 2)px 
     &_counts
       background: url(counts.jpg) 50% 50%
       border-bottom: 2px ridge yellow
       padding: 45px 0 
     &_order-now
       margin: 2em 0
       background: #737373
       border: 2px solid #4d4d4d
       border-radius: 2px 
       color: #202427
     &_bottom-contact
       margin-bottom: -45px
     &_all-inclusive
       text-align: center
     &_footer
       border-top: 1px dashed #545252
       padding: 20px 0
       color: #545252
   &_cs_white
     color: #fff

@media screen and (max-width: $small_start) 

  .section
    &_name
      &_we-know
        &:before
          display: none
      &_order-now
        margin: 2em 0
      &_best
        .container
          &:after
            display: none
      &_partners
        &:before,
        &:after
          display: none

