.input_theme_odis
  background: transparent
  border: 0
  border-bottom: 1px solid
  display: block
  opacity: .8
  &.input_focused
    opacity: 1
    border-bottom: 2px ridge
  .input
    &__box
      padding: 20px 0
      display: inline-block
      font-size: 1.2em
      width: 100%
      max-width: 100%
    &__control
      width: 100%
      max-width: 100%
      background: transparent
      color: inherit
      border: 0
      outline: none
      color: yellow
      font-style: italic
      font-size: inherit
      box-shadow: none
      &:-webkit-input-placeholder
        color: inherit
