@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6yibik');
	src:url('fonts/icomoon.eot?#iefix6yibik') format('embedded-opentype'),
		url('fonts/icomoon.woff?6yibik') format('woff'),
		url('fonts/icomoon.ttf?6yibik') format('truetype'),
		url('fonts/icomoon.svg?6yibik#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_ico_photo:after {
	content: "\e606";
}
.icon_ico_photo:before {
	content: "\e607";
}

.icon_ico_logo:before {
	content: "\e600";
}

.icon_ico_road:before {
	content: "\e601";
}

.icon_ico_man:before {
	content: "\e602";
}

.icon_ico_meal:before {
	content: "\e603";
}

.icon_ico_beach:before {
	content: "\e604";
}

.icon_ico_moto:before {
	content: "\e605";
}

