@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6yibik');
	src:url('fonts/icomoon.eot?#iefix6yibik') format('embedded-opentype'),
		url('fonts/icomoon.woff?6yibik') format('woff'),
		url('fonts/icomoon.ttf?6yibik') format('truetype'),
		url('fonts/icomoon.svg?6yibik#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-photo .path1:before {
	content: "\e606";
	color: rgb(255, 255, 255);
}
.icon-photo .path2:before {
	content: "\e607";
	margin-left: -1.310546875em;
	color: rgb(0, 0, 0);
}

.icon-logo:before {
	content: "\e600";
}

.icon-road:before {
	content: "\e601";
}

.icon-man:before {
	content: "\e602";
}

.icon-ready:before {
	content: "\e603";
}

.icon-beach:before {
	content: "\e604";
}

.icon-moto:before {
	content: "\e605";
}

