.resort
  position: relative
  padding: 10px
  margin-bottom: 20px
  &__frame
    position: relative;
  &__image
    width: 100%
    display: block
  &__name
    font-family: df
    margin: 20px 0;
    text-align: center
    font-size 1.286em /* Приближение из-за подстановки шрифтов */
    font-style italic
    line-height 1.167
  &__text
    font-weight: 500
    text-align: justify
  &.animate
    &_state_ready,
    &_state_stopped
      transform: translate(5%, 5%);
      opacity: .01
    &_state_started
      transform: none
      transition: transform 2s ease, opacity 1s ease
    &::nth-child(even)
      transition-delay: .5s

@media screen and (min-width: $small_start) and (max-width: 960px)
  .resort__frame
    font-size: 1.4vw
