.order-now
  font-family: hf
  text-transform: uppercase
  text-align: center
  color  #01011a
  font-size 4.6em /* Приближение из-за подстановки шрифтов */
  font-weight 700
  line-height: 1
  small
    font-size: .35em
    display: block;
  &__free
    font-size: .75em
  &__order
    animation: ordernow 50s ease alternate infinite
    cursor: pointer

@keyframes ordernow
  0%
    color: inherit
  50% 
    color: yellow
  100%
    color: #fff
