.form
  text-align: center
  &__heading
    font-size: 2em
    font-family: hf
    text-transform: uppercase
    &_sub
      font-size: 1.1em
      text-transform: none
  &__submit
    margin: 2em auto  
  &_theme_odis
    min-width: pmin
