.price
  font-family: hf
  position: relative
  display: inline-block
  &_actual
    &_old
      &:before,
      &:after
        content: ''
        display: block
        position: absolute
        top: 50%
        left: 0
        width: 100%
        height: 1px
        background: red
        transition: transform .7s ease-in, opacity .3s ease-in
        transition-delay: 1s
      &.price_js_inited
         &:before
           transform: rotate(15deg)
         &:after
           transform: rotate(-15deg)
      .price
         &__count
          font-size 1.714em /* Приближение из-за подстановки шрифтов */
          font-weight 700
         &__curr
          text-transform: lowercase
          font-size 1.6em /* Приближение из-за подстановки шрифтов */
          &:before
            content: ' '
     &_new
       text-transform: uppercase
       font-weight: bold
       font-size: 1.7em
       .price
          &__count
            font-size: 2.2em
