.slider_pos_aventura
  margin-bottom: 50px
  margin-top: 10px
  display: inline-block!important
  vertical-align: top
  .owl-stage-outer,
  .bx-wrapper
    box-shadow:  0 0 0 10px rgba(255,255,255, .6)
    overflow: hidden
    position: relative
  .owl-stage
    max-height: 320px
  .owl-item
    overflow: hidden
  .slide__image
    background-repeat: no-repeat
    max-height: 310px
  .slide
    padding: 0
  &.owl-theme
    .owl-dots
      position: absolute
      width: 100%
      .owl-dot
        span
          border-width: 1px
          width: 6px
          height: 6px

@media screen and (max-width: $small_start)
  .slider_pos_aventura
      margin-left: auto
      margin-right: auto
