.button_theme_grad
  text-transform: uppercase
  font-family: hf
  color: #3d1c14
  text-shadow 0px 1px 0px rgba(255, 238, 187, 0.96)
  font-size: 1.2rem
  background: #fbbc00 linear-gradient(0deg, #fdc200 0%, #e69a03 70%, #e67303 99%)
  border-radius: 10px
  padding: 10px
  font-weight: bold
  border: none
  &.button_hovered
    background: #fbbc00 linear-gradient(180deg, #fdc200 0%, #e69a03 70%, #e67303 99%)
