.slider_type_bx
  display: block
  position: relative
  box-shadow: 0 0 8px rgba(255,255,255, .7);


.bx-wrapper 
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;

.bx-wrapper img 
	max-width: 100%;
	display: block;

.bx-wrapper
  .bx-viewport 
    transform: translatez(0);
  .bx-loading
    display: none

