.slide_width_full
  position: relative
  height: 100%
  .slide
    &__container
      //position: absolute
      display: table
      top: 0
      left: 0
      width: 100%
      height: 100%
    &__inner
      display: table-cell
      vertical-align: middle
