.logo
  display: table;
  margin: auto
  font-family: hf
  &__image
    display: table-cell
    vertical-align: middle;
    text-align: left;
  &__text
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 .7em;
  &__name
    font-size: 2em
  
