.resort-info
  position: absolute;
  top: 0
  left: 0
  text-align: center
  width: 100%
  height: 100%
  color: #000
  box-sizing: border-box
  padding: 2em 
  background: rgba(255, 255, 255, .7)
  transition: opacity .5s ease
  cursor: default
  &__tag
    font-style: italic
    font-size 1.714em
    margin: 1em 0
  &__hotel-name
    text-transform: uppercase
    font-weight: bold
    margin: 1em 0
  &__time
    font-weight: bold
    text-transform: uppercase
    margin: 1.5em 0
  &__p-count
    font-size 2.571em /* Приближение из-за подстановки шрифтов */
    font-weight 800
  &__order
    margin: auto
    font-style: italic
  &_visible
    &_no
      opacity: 0
      transition-delay: .5s
    &_yes
      opacity: 1
        
@media screen and (max-width: 450px)
  .resort-info
    padding: .5em
    &__tag
      margin: .5em
    &__price
      margin: 0 auto!important
    &__time
      margin: .3em 0
