.site-preload
  position: absolute
  position: fixed
  width: 100%
  height: 100%
  z-index: 9999999
  background: #000
  &_visible_no
    animation: preload-hide 500ms ease-in forwards

@keyframes preload-hide
  from
    opacity: 1
  to
    opacity: 0
    display: none
    visibility: hidden
    z-index: -999999
