.we-know-all
  padding: 2em
  background: rgba(0,0,0, .7);
  text-align: center
  &__head
    font-size 1.714em /* Приближение из-за подстановки шрифтов */
    font-style italic
    line-height 1.25 /* Приближение из-за подстановки шрифтов */
    margin-bottom: 40px
  &__item
    position: relative;
    font-size 1.214em /* Приближение из-за подстановки шрифтов */
    font-weight 500
    line-height 1.294
    margin: 20px 0;
    &:nth-child(odd)
      text-transform: uppercase
    &:before
      content: ''
      display: block
      margin: 0 auto 20px
      width: 23px
      height: 23px
      background: url('logo.svg') no-repeat

