.float-phone_theme_tez
  background: url(tube.svg) 50% 50% no-repeat
  background-size: 100% 100%
  padding: 0
  border: 0
  width: 60px 
  height: 60px
  display:block;
  animation: float-phone_theme_tez 1.3s infinite
  &:hover
    background: @background
    background-size: 100% 100%
    opacity: 1
  &.float-phone_hidden
    display: none

@keyframes float-phone_theme_tez
  0%
    transform:scale(.9);
    opacity:.7
  50%
    transform:scale(1);
    opacity:1
  100%
    transform:scale(.8);
    opacity:.7

