.screen_type_fixed
  .screen
    &__wrap
      width: 100%
      height: 100%
    &__offset
      width: 100%
      height: 100%
      top: 100%
      position: absolute
      background: #000
 .screen_js_inited
  .screen__wrap
    //position: fixed
    overflow: hidden
    top: 0
    left: 0

@media screen and (max-width: $small_start)
  .screen_type_fixed
    .screen
      &__wrap
        position: relative
      &__offset
        display: none
