.button
  display: inline-block
  background: transparent
  border: 1px solid
  border-radius: 2px
  text-decoration: none
  cursor: pointer
  transition: color .5s ease
  &__text
    transition: opacity .5s ease
  &_theme
    &_white
      color: #fff
      &.button_hovered
        color: yellow
        //background: rgba(255, 255, 255, .4)
        .button__text
           opacity: .9
    &_black
      color: #000
      &.button_hovered
        color: #fff
        background: rgba(0,0,0, .4)
        .button__text
           opacity: .9
  &_size
    &_x
      padding: 5px
      font-size: 1em
    &_l
      padding: 15px
      font-size: 1.1em
      text-transform: uppercase
