.preloader
  width: 100px
  height: 100px 
  position: absolute
  display: block
  top: 50%
  left: 50%
  margin-top: - (@height / 2)
  margin-left: -(@width / 2)
  animation: opacity 5s linear alternate infinite;
  fill: #fff
    
@keyframes opacity {
  0% {
    fill-opacity: 0;
  }
  75% {
    fill-opacity: 1;
  }
}
