.inclusive
  position: relative
  display: inline-block
  vertical-align: top
  text-align: center
  width: 230px
  margin: .5em
  font-family: hf
  &__wrap
    position: relative
    overflow: hidden
  &__image
    display: block
  &__price
    position: absolute
    bottom: 0
    left: 0
    transform: translateY(2.5em)
    width: 100%
    box-sizing: border-box
    padding: 5px
    color: #000
    background: rgba(255,255,255, .7)
    font-size: 1.7em 
    font-weight: bold
    transition: transform .5s ease
  &__name
    color: #fff
    text-transform: uppercase
    font-size: 1.7em
    line-height: 1
    font-weight: bold
    height: 80px
    margin: 10px auto
  &_hovered
    .inclusive__price
      transform: none
