.thankyou
  border: 2px solid yellow
  background: url(thanks_bg.jpg) 50% 50%
  padding: 25px 25px 0 
  box-sizing: border-box
  &__header
    border-bottom: 1px dashed #fff
    margin-bottom: 30px
  &__content
    background: url(ballon.png) no-repeat
    width: 576px
    height: 230px
    box-sizing: border-box
    padding: 30px 60px 30px 30px
    color: #000
  &__text
    font-style: italic
    text-align: center
    font-size: 1.2rem
  &__wait
    font-weight: bold
  &__user
    font-weight: bold
  &__close
    text-align: center
    margin-top: 72px


@media screen and (max-width: $small_start)
  .thankyou
    padding: 0
    &__header
      padding-top: 1em
    &__content
      width: auto
      height: auto
      padding: 1em
      background: #DEC59A
    &__manager
      display: none
