.count
  color: #fff
  display: inline-block
  vertical-align: top
  font-family: hf
  margin: 20px
  width: 180px
  &__count
    font-size 3.429em /* Приближение из-за подстановки шрифтов */
    font-weight 700
    &:before
      content: attr(data-count)
  &__text
    font-size 1.714em
    padding: 10px 0
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      width: 3em
      height: 1px
      background: #fff
      top: 0
      left: 50%
      margin-left: - (@width / 2)
  &_js_inited
    .count__count:before
      opacity: 0
      position: absolute
