.f-menu
  display: block
  padding: 0
  &__handle
    position: relative
    color: #fff
    padding: 1em
    width: 3em
    height: 2em
    .button__text
    &:before,
    &:after
      content: ''
      display: block
      position: absolute 
      overflow: hidden
      width: 70%
      height: 1px 
      left: 15% 
      background: #fff
      top: 50% 
      transition: all .5s ease-in .3s
      transform-origin: 50% 50%
    &:before
      transform: translate3d(0, -7px, 0);
    &:after
      transform: translate3d(0, 7px, 0);
    &_opened
      &:before
        transform: rotate3d(0, 0, 1, 45deg);
      &:after
        transform: rotate3d(0, 0, 1, -45deg);
      .button__text
         opacity: 0
  &__shape
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: -(@width / 2) 
  &__svgpath
    stroke: #000;
    fill: @stroke
    stroke-width: 10px;
  &__inner
    display: none
    visibility: hidden
    position: fixed
    bottom: 0
    left: 0
    background: #000
    background: rgba(0,0,0, 0.9)
    padding: 0 0
    width: 0
    box-sizing: box-sizing
    padding: 1em
    &.popup_js_inited
      display: block
      width: auto
      max-width: pmin
      visibility: visible
      height: 100%
      transform: translateX(-100%)
      transition: transform .7s ease .35s
    &.popup_visible
      transform: translateX(0)
      box-shadow: 2px 2px 5px rgba(0,0,0, 0.9);

