@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?utnr91');
  src:url('fonts/icomoon.eot?#iefixutnr91') format('embedded-opentype'),
    url('fonts/icomoon.woff?utnr91') format('woff'),
    url('fonts/icomoon.ttf?utnr91') format('truetype'),
    url('fonts/icomoon.svg?utnr91#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ico
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; 
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.ico_logo:before {
  content: "\e600";
}

.ico_road:before {
  content: "\e601";
}

.ico_man:before {
  content: "\e602";
}

.ico_meal:before {
  content: "\e603";
}

.ico_beach:before {
  content: "\e604";
}

.ico_moto:before {
  content: "\e605";
}

.ico_photo:before {
  content: "\e606";
}
.ico_photo .path2:before {
  content: "\e607";
  margin-left: -1.310546875em;
  color: rgb(0, 0, 0);
}
.ico_photo .path3:before {
  content: "\e608";
  margin-left: -1.310546875em;
  color: rgb(0, 0, 0);
}


