.offer-modal
  color: #fff
  box-sizing: border-box
  max-width: 100%
  left: 100%
  transition: left .5s ease-out
  overflow-x: hidden
  background: #1b1b1b;
  z-index: 20
  padding: 40px .5rem
  &__close
    position: absolute
    top: 20px
    right: 20px
  &__article
    font-style: italic
    line-height: 1.5
  &__tags
    margin: 1em 0
    margin: 1rem 0
  &__tag
    display: inline-block
    vertical-align: top
    border: 1px solid yellow
    color: yellow
    border-radius: 2px
    padding: .4rem
    font-size: .9rem
    position: relative
    font-style: italic
  &__name
    margin-bottom: 1em
    font-size: 1.8em
    font-family: hf
  &__meal
    text-align: center
    color: yellow
    font-size: 1.2rem
    margin: 1rem 0
  &__price
    color: yellow
    font-size: 2.5em
    font-family: hf
    text-align: center
    margin-bottom: 6rem
    font-weight: bold
  &__price-desc
    color: #fff
    font-size: .6em
    font-weight: normal
  &__features
    padding: 1rem 0
  &__slider
    margin-bottom: 2em
  &.modal_visible
    left: 0
