$rwidth = 500px
.reserv
  float: right
  cursor: pointer
  background: rgba(255,255,255, .9)
  max-width: $rwidth
  color: #000
  padding: 1em
  margin: 2em 
  font-family: hf
  &:hover
    background: #fff
    box-shadow: 0 0 10px #fff
  &__head
    color  #f7a300
    text-transform: uppercase
    font-size 3.409em /* Приближение из-за подстановки шрифтов */
    line-height: 1
    text-align center
  &__content
    display: table
    min-height: 213px
  &__sale
    display: table-cell
    text-align: center
    vertical-align: bottom
    padding-bottom: 7%
    min-width: 212px
    min-height: 212px
    background: url(circle.png) 50% 50% no-repeat
    color  #f69c00
    box-sizing: border-box
  &__sale-count
    font-size 4.286em /* Приближение из-за подстановки шрифтов */
    font-weight 700
    line-height: 1
    //text-shadow 0px 1px 0px rgba(2, 2, 2, 0.48)
  &__sale-text
    color  #f7a000
    font-size 1.714em /* Приближение из-за подстановки шрифтов */
    font-weight 700
    line-height: 1
  &__text
    display: table-cell
    padding-left: 20px
  &__prices
    text-align: right
  &__hotel
    text-transform: uppercase
    font-weight: bold
    font-size 1.7em
    line-height: 1
    margin: 10px 0
    text-align: left
  &__comment
    text-align: center
    color  #f79f00
    font-size 2.143em /* Приближение из-за подстановки шрифтов */
    font-weight 700
    margin: 10px
    line-height: 1
  &.animate
    transition: transform .5s ease-out .5s
    transform: translateX(100%)
    opacity: .3
    &_state_ready,
    &_visible_yes
      transform: none
      opacity: 1


@media screen and (max-width: $small_start)
  .reserv
    float: none
    margin-left: auto
    margin-right: auto


@media screen and (max-width: $rwidth)
  .reserv
    &__content
      display: block
    &__sale
      display: block
      padding: 60px 0 0
      margin: 1em 0
    &__text
      display: block
      text-align: center
    &__hotel,
    &__prices
      text-align: center
    
