.callme
  text-align center
  font-family hf
  margin: .5em auto
  &__text
    font-size 1.714em /* Приближение из-за подстановки шрифтов */
    line-height 1.215 /* Приближение из-за подстановки шрифтов */
  &__phone
    color  #fcbe00
    font-size 1.857em /* Приближение из-за подстановки шрифтов */
    font-weight 700
    line-height 1.122 /* Приближение из-за подстановки шрифтов */

