.row
  &_of_1
    .row__col
       padding-left: 1rem
       padding-right: 1rem
  &_of_2
    .row__col
       padding-left: 2rem
       padding-right: 2rem
 
@media screen and (max-width: $small_start)
  .row
    &_of_1,
    &_of_2,
      .row__col
        padding: 0
