/*COUNTER*/
.counter {
  margin: 10px 0;
  font-family: hf
}
.counter__text
{
  font-size: 1.8em
  margin-bottom: .5em
}
.counter .countDays,
.counter .countHours,
.counter .countMinutes,
.counter .countSeconds {
  margin: 5px 7px;
  display: inline-block;
  position: relative;
}
.counter .position {
  background: url(digit.png) no-repeat;
  display: inline-block;
  font: 32px/39px Arial, sans-serif;
  margin: 0 -2px;
  text-align: center;
  padding: 0;
  width: 32px;
  height: 40px;
  position: relative;
}
.counter .digit {
  line-height: 1;
  position: absolute;
  top: 2px;
  left: 7px;
  color: #fff
}
.counter .countDays:after,
.counter .countHours:after,
.counter .countMinutes:after,
.counter .countSeconds:after {
  content: 'часов';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font: 14px 'PF din Display Pro', sans-serif;
}
.counter .countDays:after {
  content: 'дней';
}
.counter .countMinutes:after {
  content: 'минут';
}
.counter .countSeconds:after {
  content: 'секунд';
}
.counter .countHours:before,
.counter .countMinutes:before,
.counter .countSeconds:before {
  content: ':';
  position: absolute;
  font-size: 31px;
  left: -12px;
  top: 2%;
}
