.slide
  background-position: 50% 50%
  overflow: hidden
  max-height: 100%
  &__description
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    color: #fff
    font: italic 1.2em df
    background: rgba(0,0,0, .5)
    padding: 10px
    box-sizing: border-box
