.diff
  vertical-align: top
  font-size 1.214em /* Приближение из-за подстановки шрифтов */
  font-weight 500
  line-height 1.294 /* Приближение из-за подстановки шрифтов */
  text-align left
  padding: 20px 0
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  &__icon
    font-size: 1.5em
    opacity: .7
    width: 20%
    text-align: center
  &__text
    width: 60%

@media screen and (max-width: $small_start)
  .diff__text
    width: 70%
