.social
  text-align: center
  &__list
    margin: 0;
    padding: 0;
    display: block;
  &__item
    display: inline-block
    vertical-align: top
    color: #545252 
    border: 1px solid 
    border-radius: 50%
    transition: color .5s ease
    &:hover
      color: #fff
    .link
      color: inherit
