.nav-menu
  font-family: hf
  font-size: 1.3rem
  &__list
    padding: 1em
    margin: 1em auto
    list-style: none
  &__link
    padding: .5em
    display: block
    color: yellow
    text-decoration: none
    &.link_hovered
      background: yellow
      color: #000
