.beach
  position: relative;
  display: inline-block;
  vertical-align: top
  margin: 10px
  z-index: 1
  overflow: hidden
  .image
    display: block
  &:before
    content: ''
    display: block
    position: absolute
    width: 90px
    height: 80px
    bottom: 0 
    right: 0 
    background: url(beach-sun.png) no-repeat
    
  &__desc
    position: absolute
    left: 0;
    bottom: 0
    overflow: hidden
    color: #000
    width: 100%
    text-align: left
    font-style: italic
    font-size 1.2em /* Приближение из-за подстановки шрифтов */
    box-sizing: border-box
    transform: translateY(2.3em);
    background: linear-gradient(to right, rgba(255,255,255, .9), rgba(255,255,255, 0));
    transition: all .5s ease-in
  &__text
    padding: .5em
  &_hovered
    .beach__desc
      transform: none
