.filter-item
  display: inline-block
  vertical-align: top
  overflow: hidden
  width: 20%
  max-height: 240px
  transition-duration: .8s
  padding: 0
  box-sizing: border-box
  transition: all .8s ease-in-out
  cursor: pointer
  &__wrap
    position: relative
    overflow: hidden
    width: 100%
    height: 100%
    padding: 0
    box-sizing: border-box
  &__photo
    width: 100%
    height: 240px
    max-height: 100% 
  &__info
    position: absolute
    width: 100%
    padding: 4%
    box-sizing: border-box
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0, .8))
    transition: all .6s ease-out;
  &__name
    font-size: 1.2rem
    font-family: hf
  &__price
    font-size: 2.5rem
    .price__curr
      font-size: .5em


@media screen and (max-width: $small_start)
  .filter-item
    width: 100%

@media screen and (max-width: $large_start)
  .filter-item
    width: 33.33%
