.copyright
  display: table
  &__ico
    width: 33px
    height: 33px
    background: url(copyright.svg) 50% 50% no-repeat;
    display: table-cell
    vertical-align: middle
    padding-right: 20px
  &__text
    display: table-cell;
    vertical-align: middle
    font: italic .8em df
    
@media screen and (max-width: $small_start) 
  .copyright
    margin: 1em 0 0
