.port-aventura
  position: relative
  margin: 4em 0
  &:before
    content: ''
    display: block
    position: absolute
    width: 310px
    height: 310px
    background: url(logo-opacity.svg) no-repeat
    top: 0
    left: 50%
    margin-left: - (@width / 2)
  &__button
    text-align: center
  &__col
    position: relative
    padding: 0 10px
  &__adv
    margin-top: 4em
    position: absolute
    bottom: 40px
    margin-right: 20px
    
@media screen and (max-width: $small_start) 
  .port-aventura
    &__adv
      position: static
      margin: 4em 0
