.adv
  background: rgba(255,255,255, .7)
  text-align: center
  padding: 30px
  &__text
    font-size 1.714em /* Приближение из-за подстановки шрифтов */
    font-weight 600
    font-style italic
    line-height 1.25 

 
@media screen and (max-width: $small_start) 
  .adv
    font-size: 0.7em
