.slider_height_fullscreen
  overflow: hidden
  position: relative
  min-height: 400px
  height: 100%
  .owl-stage-outer
    max-height: 100%
    height: 100%
  .owl-stage,
  .owl-item
    height: 100%
  .slide__image
    background-repeat: no-repeat
    background-position: 50% 0 
    background-size: auto 100%

 @media screen and (max-width: $small_start)
    .slider_height_fullscreen
      height: auto!important
